{% for unit in units %}
    <option value="{{ unit.id }}" 
            {% if unit.id|stringformat:"s" == selected_unit %}selected{% endif %}
            style="padding-left: {{ level|default:0|add:unit.level }}rem;">
        {% if unit.level > 0 %}{{ '—'|safe|repeat:unit.level }}{% endif %}
        {{ unit.name }} ({{ unit.type }})
    </option>
    
    {% if unit.children %}
        {% include 'components/unit_tree_options.html' with units=unit.children selected_unit=selected_unit %}
    {% endif %}
{% endfor %}