:root {
    --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Inter, Roboto, sans-serif;

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;

    --line-height-base: 1.5;
    --line-height-tight: 1.2;
}