html {
    font-size: 16px;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-md);
    line-height: var(--line-height-base);
    background: var(--color-bg-subtle);
    color: var(--color-text);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background: none;
    border: none;
}

.app-body {
    min-height: 100vh;
}